<h1>Hi!!</h1>
<p>we're ready to activate your email, click activate link below</p>
<form action="/api/v1/user/activation-email?token=<%=token%>" method="post">
  <div>
    <input type="submit" value="activate!" />
  </div>
</form>
